{% extends 'base.html.twig' %}

{% block body %}
    <div class="ml-24 mr-28 text-black font-sans ">
        <h1 class="text-3xl mt-10">Оплата и доставка</h1><br>
        <h1 class="text-2xl"><b>Как купить</b></h1><br>
        <p class="mr-10">Для оформления заказа вам необходимо: выбрать товары нажав "купить" перейти в корзину,
            заполнить ваши данные, выбрать способ доставки и нажать кнопку «Подтвердить заказ», если вы еще не
            зарегистрированы в нашем магазине, вы можете зарегистрироваться.
        </p><br>
        <h1 class="text-2xl">В нашем интернет-магазине доступны следующие способы доставки заказов:</h1><br>
        <div class=" mb-5">
            <h1 class=" text-black text-3xl"><b>Доставка</b></h1><br>
            <p class="text-black text-xl"><b>Почта России</b></p>
            <p class="text-ms">Доставка осуществляется в любой город России, в отделения и на дом.</p><br>
            <p class="text-xl"><b class="text-black ">EMS </b>– Курьерская служба Почты России</p>
            <p class="text-ms">Доставка осуществляется в любой город России и в другие страны. В городах, где нет
                курьерской
                службы EMS, получить отправление можно через почтовое отделение.</p><br>
            <p class=" text-xl">Курьерская служба <b class="text-black">СДЭК</b></p>
            <p class="text-ms">Доставка осуществляется в любой город России, в отделения и на дом.</p><br>
            <p class="text-xl">Курьерская служба<b class="text-black "> Boxberry</b></p>
            <p class="text-ms">Доставка осуществляется в любой город России, в пункты выдачи заказов.</p><br>
            <p class="text-xl">Информация по стоимости доставки отображается при оформлении заказа.</p><br>
        </div>
        <div class=" mt-10 mb-10">
            <h1 class=" text-black text-3xl"><b>Оплата</b></h1><br>
            <h1 class="text-2xl">В нашем интернет-магазине доступны следующие способы оплаты заказов:</h1><br>
            <p class=" text-xl">1. Наложенный платеж.</p>
            <p class="text-ms">Оплата производится при получении посылки в отделении Почты России. Надбавка за
                наложенный
                платеж по
                тарифу 2% от суммы заказа, но не менее 50 рублей.</p><br>
            <p class=" text-xl">2. Онлайн-оплата.</p>
            <p class="text-ms">Для выбора оплаты товара с помощью банковской карты на соответствующей странице
                необходимо
                нажать кнопку оплатить заказ. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт
                следующих платёжных систем: МИР, Visa, MasterCard.</p><br>
            <p class=" text-xl">3. Наличными курьеру или в пункте выдачи СДЭК и Boxberry.</p><br>
            <p class=" text-xl">4. Банковской картой курьеру или в пункте выдачи СДЭК и Boxberry.</p><br>
        </div>
        <p class="text-ms">Вопросы, связанные с доставкой и оплатой или оформлением Ваших заказов, вы можете задать:<br>

            - По телефону 8 (800) 775-88-58 (по будним дням, с 9:00 до 18:00);<br>
            - По адресу электронной почты wow@manga.com;<br>
            - Через чат с нашими онлайн-консультантами.</p><br>
    </div>
    <div>

        <div class="absolute inset-y-62 right-0 bottom-64 "><img class="w-64" src="{{ asset('/template/images/brand/45.png') }}">
        </div>
    </div>
{% endblock %}