{% extends 'base.html.twig' %}

{% block body %}
    <div class="ml-24  mr-24 text-black font-sans mt-10">
        <div class="">
            <h1 class="text-3xl">Возврат и гарантия</h1><br>
            <p class="text-ms">Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки, возврат производится исключительно на ту же банковскую карту, с которой была произведена оплата.<br><br>

                Вы можете отказаться от заказанного товара в любое время до его отправки, а после получения - в течение 7 дней.<br><br>

                Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек, опись вложения). Для возврата товара также необходим документ, удостоверяющий личность и заполненное заявление.<br><br>

                При возврате товара надлежащего качества, "WOW" вернет его стоимость не позднее чем через 10 дней с момента получения товара и Вашего письменного заявления. Почтовые расходы на доставку товара оплачивает покупатель.<br><br>

                Вы вправе обменять товар надлежащего качества на аналогичный в течение 14 дней с момента получения заказа, не считая дня покупки, в случае, если товар не подошел Вам по форме, габаритам, фасону, расцветке, размеру или комплектации.<br><br>

                Обмену не подлежат товары надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 31.12.2022 N 2463.<br><br>

                Если на момент Вашего обращения по обмену товара, аналогичный товар отсутствует в продаже, Вы можете отказаться от товара и потребовать возврат его стоимости.<br>

                При обнаружении недостатков товара в процессе его использования по прямому назначению, Покупатель вправе предъявить претензии в отношении недостатков товара, если они обнаружены в течение гарантийного срока или срока годности. В отношении товаров, на которые гарантийные сроки или сроки годности не установлены, Покупатель вправе предъявить указанные требования, если недостатки товаров обнаружены в разумный срок, но в пределах двух лет со дня передачи их Покупателю.</p>
        </div>
        <div class="text-sm mt-10">
            <p>
                Вопросы, связанным с возвратом товара и денежных средств, уплаченных за него, вы можете задать:<br>

                - По телефону 8 (800) 775-88-58 (по будним дням, с 9:00 до 18:00)<br>
                - По адресу электронной почты WOW.ru<br>
                - Через онлайн чат с нашими менеджерами.</p><br>
        </div>
        <div>
            <div class="absolute inset-y-96 right-0 ">
                <img class="w-40 " src="{{ asset('/template/images/brand/0.png') }}">
            </div>
        </div>
    </div>
{% endblock %}