{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="text-center">
                <button class="bg-zinc-300 text-xl hover:bg-zinc-400 text-black py-2 px-4 rounded mt-5">
                    <a href="{{ path('app_admin_index') }}">Админпанель</a>
                </button>
                <br>
                <button class="font-sans bg-zinc-300 text-xl hover:bg-zinc-400 text-black py-2 px-4 rounded mt-5">
                    <a href="{{ path('app_admin_order_index') }}"> &#8592; Назад</a>
                </button>
                <h4 class="text-xl font-sans">Удалить заказ #{{ order.id }}</h4>
                <p class="text-xl font-sans">Вы действительно хотите удалить этот заказ?</p>
                <form method="post">
                    <input type="submit"
                           class="font-sans bg-zinc-300 text-xl hover:bg-zinc-400 text-black py-2 px-4 rounded mt-5"
                           name="submit" value="Удалить"/>
                </form>
            </div>
        </div>
    </section>
{% endblock %}